/************************************\
    # GENERAL
\************************************/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration:none ;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #f4a62a;;
    --color-warning: #ffaa46;
    --color-success: #00bf8e;
    --color-info: #29baf9;
    --color-danger: #e53f3c;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: #f5f4f8;
    --color-black: #000;
    --color-bg: #6c63ff;
    --color-bg1: #e2e0ff;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 78%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

/* GOOGLE FONT FACE MONTSERAT */

@font-face {
    font-family: Montserrat-Bold ;
    src: url(/ressources/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold ;
    src: url(/ressources/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular ;
    src: url(/ressources/Montserrat/static/Montserrat-Regular.ttf);
}

body{
    font-family: Montserrat-SemiBold ;
    line-height: 1.7;
    /* color: var(--color-white) ;*/
    /*background-color: var(--color-bg); */
}

.container{
    width: var(--container-width-md);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
  
    font-family: Montserrat-Bold ;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-black);
}

img{
    width: 100% ;
    display: block;
    object-fit: cover;
}


.btn{
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-black);
    border: 1px solid transparent;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 50px;
    transition: var(--transition);
    box-shadow: 2px 3px 10px var(--color-bg1);
    cursor: pointer;
}

.btn:hover{
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary{
    background: var(--color-primary);
}

<<<<<<< HEAD
/* :focus-visible { outline-offset: 4px; }
=======
:focus-visible { outline-offset: 4px; }
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0

::selection {
  background-color: var(--color-primary);
  color: var(--white);
<<<<<<< HEAD
} */
=======
}
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: var(--color-bg1); }

::-webkit-scrollbar-thumb { 
  background-color: var(--color-primary); 
  border-radius: 50px;
}

<<<<<<< HEAD
::-webkit-scrollbar-thumb:hover { background-color: var(--color-primary); }
=======
::-webkit-scrollbar-thumb:hover { background-color: var(--color-warning); }
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0




/************************************\
    # NAVBAR
\************************************/

/***/
.logo{
    width: 40%;
}
/***/

nav{
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    font-family: Montserrat-Bold ;

}

/*Change navbar styles on scroll using javascript*/

.window-scroll{
    background: var(--color-bg1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* .window-scroll:hover a{
    color: var(--color-white);
} */

.nav_container{
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content:space-between ;
    align-items: center;
}

nav button{
    display: none;
    font-size: 25px;
    background: none;
}

button.btn
{
    padding: 10px 20px;
    font-size: .9rem;
    font-family: Montserrat-Bold ;
    /* font-weight: bold;
    font-style: italic; */
    margin-top: 0;
    background-color: transparent;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 3px 10px var(--color-bg1);
    border-radius: 50px;
    width:230px;
}

button.btn:hover
{
    border-color: var(--color-primary);
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition) ;
    
}

.nav_menu a:hover{
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary); 
    
}


/************************************\
    # LOGIN FORM
\************************************/

/*SECTION*/

<<<<<<< HEAD
/*
=======

>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
.form
{
    margin: 50px 0;
    position: absolute;
<<<<<<< HEAD
    top: 0px;
=======
    top: -2000px;
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    z-index: 55;
    transition: var(--transition);
}

form
{
    flex: 0 0 100%;
}

.form.active {
    top: 30px;
  }

.form-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.form-wrapper .card
{
    width: 360px;
    padding: 20px;
    background-color: var(--color-bg1);
    transition: opacity 0.3s, visibility 0.3s;
    border-radius: 5px;
}



.card-header
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0 ;
    font-size: 1.1rem;
    box-shadow: 2px 3px 8px var(--color-primary);
    border-radius: 50px;
    
}

.card-header .form-header
{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.card-header .form-header.active
{
<<<<<<< HEAD
    box-shadow: inset 1px 1px 2px var(--color-primary), inset -1px 1px 2px var(--color-primary), 
                inset -1px -1px 2px var(--color-primary),inset 1px -1px 2px var(--color-primary);
    border-color: var(--color-primary);
=======
    box-shadow: inset 1px 1px 2px var(--color-warning), inset -1px 1px 2px var(--color-warning), 
                inset -1px -1px 2px var(--color-warning),inset 1px -1px 2px var(--color-warning);
    border-color: var(--color-warning);
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
    transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body
{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}


.toggleform
{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.form-control
{
    width: 100%;
    border: none;
<<<<<<< HEAD
    border-bottom: 1px solid var(--color-primary);
=======
    border-bottom: 1px solid var(--color-warning);
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    cursor:ns-resize;
}

.formbutton
{
    border: 1px solid transparent;
    padding: .8rem 1rem;
    width: 10rem;
<<<<<<< HEAD
    background-color: var(--color-primary);
=======
    background-color: var(--color-warning);
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.formbutton:hover
{
<<<<<<< HEAD
    color: var(--color-primary);
    background: none;
    border: 1px solid var(--color-primary);
=======
    color: var(--color-warning);
    background: none;
    border: 1px solid var(--color-warning);
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
}


@media  (max-width:1080px) {
    

   .nav_list
    {
        align-items:baseline;
        display: inline-block;
    }
    nav ul li a:hover
    {
        border-bottom: none;
        justify-content: first baseline;
        display: block;
        color: #d3f7ff71;
    }
    
}



<<<<<<< HEAD
*/
=======

>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
/*


/************************************\
    # HEADER
\************************************/


header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;

}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-area: 5rem;
    height: 100%;
}


.header_left p{
    margin: 1rem 0 2.4rem;

}

/************************************\
    # CATEGORIES
\************************************/

.categories{
    background:var(--color-bg1);
    height: 32rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;

}

.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
    /* gap: 4rem; */
}

.categories_left{
margin-right: 4rem;
}

.categories_left p{
    margin: 1rem 0 3rem;
}

.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.category{
    background: #f4a62a;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.category_icon i{
    font-size: 25px;
    color: var(--color-bg2);
}

.categories h4{
    color: var(--color-bg2);
    margin-bottom: .5rem;
}

/************************************\
    # POPULAR COURSES
\************************************/

.courses{
    margin-top: 10rem;

}

.courses_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
}

.course{
    background: var(--color-light);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 20px;
}

.course:hover{
    background: transparent;
    border-color: var(--color-bg1);
    box-shadow: 0 1px 8px rgb(3 0 71 / 9%);
    transform: scale(1.02);
}

.course_info {
    padding: 2rem;
}

.course_info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}
.course_image>img{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/************************************\
    # FAQS
\************************************/

.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);

}

.faqs_container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon{
    align-self: flex-start;

}

.faq p{
    margin-top: .8rem;
    display: none;
}

.faq.open p{
    display: block;
}

/************************************\
    # FAQS
\************************************/

.testimonials_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial{
    padding-top: 2rem;
}

.avatar{
    width: 6rem ;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem ;
    border: 1rem solid var(--color-primary);
}

.testimonial_info{
    text-align: center;
}

.testimonial_body{
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position:relative;
}

/* .testimonial_body::before{
    content: '';
    display: block;
    background: linear-gradient(
        135deg,
        transparent,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary)
    );
    width: 6rem;
    height: 6rem;
    position: absolute;
<<<<<<< HEAD
    left: 40%;
    top: -1.5rem;
    transform: rotate(45deg);
    z-index: -100;
}
*/


/************************************\
    # FOOTER
\************************************/

footer{
    background-color: var(--color-bg1);
    padding-top: 5rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

footer h4{
    color: var(--color-bg)
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer_container > div h4{
    margin-bottom: 1.2rem;
}

.footer_1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: .7rem;
}

footer ul li a:hover{
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary); 
}



.footer_socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer_copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-primary);
    
}


.toTop{
    
    /* color: var(--color-primary); */
    background: var(--color-primary);
    width: 50px;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s;
    z-index: 9999999999;
}

.toTop>i{
    position:relative;
    font-size: 30px;
    bottom: -10px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
       
    }

    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    /*Nav*/

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-primary);
        cursor: pointer;
    }

    nav button#close-menu-btn{
        display: none;
    }

    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animationsNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }
    .nav_menu li:nth-child(5){
        animation-delay: 800ms;
    }
    .nav_menu li:nth-child(6){
        animation-delay: 1000ms;
    }

    @keyframes animationsNavItems {
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav_menu li a{
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        border-radius: 0;
        border: none;
    }

    .nav_menu li a:hover{
        background: var(--color-bg1);
        color: var(--color-black);
        place-items: center;
        display: grid;
        place-items: center;
        
    }

    /*HEADER*/

    header{
        height: 60vh;
        margin-bottom: 4rem;
    }

    .header_container{
        gap: 0;
        padding-bottom: 3rem;
    }

    /*CATEGORIES*/

    .categories{
        height: auto;

    }

    .categories_container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories_left{
        margin-right: 0;
    }

    /*POPULAR COURSES*/

    .courses{
        margin-top: 0;
    }

    .courses_container{
        grid-template-columns: 1fr 1fr;
    }

    /*FAQS*/

    .faqs_container{
        grid-template-columns: 1fr;
    }

    .faq{
        padding: 1.5rem;
    }
    
    /*FOOTER*/

    .footer_container{
        grid-template-columns: 1fr 1fr;
    }

}

/*MEDIA QUERIES PHONE*/
@media screen and (max-width: 600px) {
    .nav_menu{
        right: 3%;
    }   

    header{
        height: 100vh;
    }

    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header_left p{
        margin-bottom: 1.3rem;
    }

    /*CATEGORIES*/

    .categories_right{
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;
    }

    .category_icon{
        margin-top: 4px;
        display: inline-block;
    }

    /*POPULAR COURSES*/

    .courses_container{
        grid-template-columns: 1fr;

    }

    /*TESTIMONIALS*/

    .testimonial_body{
        padding: 1.2rem;
    }

    /*FOOTER*/

    .footer_container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_1 p{
        margin: 1rem auto;
    }

    .footer_socials{
        justify-content: center;
    }

    .footer_adress{
        display: flex;
        flex-direction: column;
    }

    .toTop{
    
        /* color: var(--color-primary); */
        background: var(--color-primary);
        width: 40px;
        height: 40px;
        bottom: 30px;
        right: 30px;
    
    
    }

    .toTop>i{
        position:relative;
        font-size: 20px;
        bottom: -10px;
    }
}
=======
    left: 46.8%;
    top: -1.8rem;
    transform: rotate(45deg);
    z-index: -100;
}
>>>>>>> 80ffd0c542f2b6d8a5d515ce80278713d263c6d0
